body {
  background-color: black;
}
.card {
  width: 5rem;
  height: 8rem;
  background-color: darkblue;
  color: white;
}

.scoreboard {
  background-color: grey;
  width: 10rem;
  height: 5rem;
  color: white;
}
